<h1>Movies</h1>

<table class="table">
  <tr>
    <th width="10%"></th>
    <th>Title</th>
    <th width="10%">Releases</th>
    <th width="10%">Wish</th>
  </tr>

  <% @movies.each do |movie| %>
  <tr>
    <td><%=image_tag movie.poster, width: '100' unless movie.poster.blank? %></td>
    <td><%=movie.title %> <i>(<%=movie.year%>)</i></td>
    <td><%=movie.releases.size %></td>
    <td><%=movie.wishes.size %></td>
  </tr>
  <% end %>
</table>
